:root{
    --main-color-: rgba(202, 156, 78, 1);
    --second-color-:rgba(238, 203, 145, 1);
    --black-: rgba(25, 25, 25, 1);
    --white-: rgba(246, 246, 246, 1);
}

*{
    margin: 0;
    padding: 0;
}

body{
    z-index: 1;
    background-color: var(--white-);
    background-image: url(imgs/backgroundBody.png);
    display: flex;
    justify-content: center;
    padding-top: 4.2vw;
    overflow-x: hidden;
}

.gradient-background{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, var(--white-) 20%, transparent 100%);
    pointer-events: none;
}

header{
    z-index: 10;
    position: fixed;
    top: 3vw;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    min-width: 300px;
    height: 2.5vw;
    min-height: 28px;
    padding: 0 20px 0 20px;
    border-radius: 80px;
    background-color: var(--white-);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.219);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.bannerMain{
    z-index: 1;
    background-image: url(imgs/bannerImg.png);
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    border-radius: 18px;
    width: 90vw;
    min-width: 360px;
    height: 25vw;
    min-height: 200px;
}

.bannerMain > h1{
    font-size: 4.5vw;
    width: 50vw;
    margin-left: 2%;
}

.achievements-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.divAchievements{
    background-color: red;
    width: 28vw;
    height: 11vw;
    min-height: 70px;
    border-radius: 18px;
}

.aboutStore{
    display: flex;
    justify-content: space-around;
    width: 89vw;
    padding: 3.5vw 0 4vw 0;
}

.aboutStore-itemL > img{
    width: 25vw;
    height: 20vw;
    border-radius: 14px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.158);
    object-fit: cover;
    object-position: center 0%;
}

.aboutStore-itemL > p{
    position: absolute;
    width: 50vw;
}

.aboutStore-itemR{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.aboutStore-itemR > h1{
    font-size: 4vw;
    margin: 0;
}

.aboutStore-itemR > p{
    text-align: end;
    width: 40vw;
}

.arrangement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin-top: 7%;
}

.arrangementImgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exArrangement2,
.exArrangement3{
    z-index: 1;
    opacity: 0.6;
    object-fit: cover;
    object-position: center;
    width: 15vw;
    height: 18vw;
    border-radius: 10px;
}

.exArrangement2{
    margin-right: -5.1vw;
}

.exArrangement3{
    margin-left: -5.1vw;
}

.exArrangement1{
    z-index: 2;
    object-fit: cover;
    object-position: center 90%;
    width: 24vw;
    height: 31vw;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123);
}

.arrangementText > h1{
    font-size: 4vw;
    width: 26vw;
}

.garden-grid{
    display: grid;
    grid-template-areas: 
    'title textG'
    'button textG'
    ;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 8.5%;
}

.titleGarden{
    grid-area: title;
}

.titleGarden > h1{
    font-size: 4vw;
    width: 2vw;
}

.buttonGarden{
    grid-area: button;
}

.textGarden{
    grid-area: textG;
    width: 600px;
}

.textGarden > p{
    text-align: end;
}

.garden-images{
    display: flex;
    justify-content: space-between;
}

.gardenTransformation{
    display: flex;
}

.gardenAfter > img,
.gardenBefore > img  {
    object-fit: cover;
    width: 23vw;
    height: 27vw;
}

.gardenAfter{
    z-index: 2;
}

.gardenBefore{
    z-index: 1;
    margin-top: 5vw;
    margin-left: -13vw;
}

@media (max-width: 600px) {
    .garden-grid{
    grid-template-areas: 
    'title'
    'textG'
    'button'
    ;
}
}

