:root{
    --main-color-: rgba(202, 156, 78, 1);
    --second-color-:rgba(238, 203, 145, 1);
    --black-: rgba(25, 25, 25, 1);
    --white-: rgba(246, 246, 246, 1);
    --main-font-: "IBM Plex Sans", sans-serif;
    --second-font-: "Petit Formal Script", cursive;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--main-font-);
}

span{
    font-family: var(--second-font-);
    font-weight: 400;
}

body{
    z-index: 1;
    background-color: var(--white-);
    background-image: url(imgs/backgroundBody.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.2vw;
    overflow-x: hidden;
}

.gradient-background{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, var(--white-) 20%, transparent 100%);
    pointer-events: none;
}

header{
    z-index: 10;
    position: fixed;
    top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    min-width: 300px;
    height: 2.5vw;
    min-height: 28px;
    padding: 0 20px 0 20px;
    border-radius: 80px;
    background-color: var(--white-);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.219);
}

.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menuButton > img{
    height: 1.5vw;
    min-height: 17px;
}

.logoHeader{
    display: flex;
    align-items: center;
    margin-left: 12%;
}

.logoY{
    height: 1.5vw;
    min-height: 17px;
}

.instagramHbutton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color-);
    color: var(--white-);
    font-weight: 500;
    border: none;
    border-radius: 7px;
    width: 7.5vw;
    min-width: 21px;
    height: 1.7vw;
    min-height: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.bannerMain{
    z-index: 1;
    background-image: url(imgs/bannerImg.png);
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    border-radius: 18px;
    width: 90vw;
    min-width: 360px;
    height: 25vw;
    min-height: 200px;
}

.bannerMain > h1{
    font-size: 4vw;
    width: 40vw;
    margin-left: 2%;
    color: var(--white-);
}

.achievements-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.divAchievements{
    background-color: var(--white-);
    width: 28vw;
    height: 11vw;
    min-height: 70px;
    border-radius: 18px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.mainAchievements{
    background: linear-gradient(180deg, var(--second-color-), var(--main-color-));
}

.aboutStore{
    display: flex;
    justify-content: space-around;
    width: 89vw;
    padding: 3.5vw 0 4vw 0;
}

.aboutStore-itemL > img{
    width: 25vw;
    height: 20vw;
    border-radius: 14px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.158);
    object-fit: cover;
    object-position: center 0%;
}

.aboutStore-itemL > p{
    position: absolute;
    width: 50vw;
}

.aboutStore-itemR{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.aboutStore-itemR > h1{
    font-size: 4vw;
    margin: 0;
}

.aboutStore-itemR > p{
    text-align: end;
    width: 40vw;
}

.arrangement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin-top: 7%;
}

.arrangementImgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exArrangement2,
.exArrangement3{
    z-index: 1;
    opacity: 0.6;
    object-fit: cover;
    object-position: center;
    width: 15vw;
    height: 18vw;
    border-radius: 10px;
}

.exArrangement2{
    margin-right: -5.1vw;
}

.exArrangement3{
    margin-left: -5.1vw;
}

.exArrangement1{
    z-index: 2;
    object-fit: cover;
    object-position: center 90%;
    width: 24vw;
    height: 31vw;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123);
}

.arrangementText > h1{
    font-size: 4vw;
    width: 26vw;
}

.garden-grid{
    display: grid;
    grid-template-areas: 
    'titleG textG'
    'button textG'
    ;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 8.5%;
}

.titleGarden{
    grid-area: titleG;
}

.titleGarden > h1{
    font-size: 4vw;
    width: 2vw;
}

.buttonGarden{
    grid-area: button;
}

.textGarden{
    grid-area: textG;
    width: 600px;
}

.textGarden > p{
    text-align: end;
}

.garden-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.gardenTransformation{
    display: flex;
}

.gardenAfter > img,
.gardenBefore > img  {
    object-fit: cover;
    width: 23vw;
    min-width: 250px;
    height: 27vw;
    min-height: 350px;
}

.gardenAfter{
    z-index: 2;
}

.gardenBefore{
    z-index: 1;
    margin-top: 5vw;
    margin-left: -13vw;
}

footer{
    margin-top: 8%;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'columnF contactF company'
    'columnF socialF company'
    'columnF . copyright'
    ;
    padding-bottom: 1%;
    width: 100vw;
}

.column-footer{
    grid-area: columnF;
    background-color: var(--main-color-);
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0 0 40px 40px;
    width: 18vw;
    height: 30vw;
    margin-right: 6vw;
}

.contactFooter{
    grid-area: contactF;
    align-self: center;
    margin-right: 30vw;
}

.socialMidiaFooter{
    grid-area: socialF;
    align-self: center;
    margin-right: 30vw;
}

.company{
    grid-area: company;
    align-self: center;
}

.copyright{
    grid-area: copyright;
    align-self: end;
}

@media (max-width: 700px) {

.logoHeader{
    margin-left: 0;
}

.instagramHbutton > img{
    height: 15px;
    width: 15px;
}

.instagramHbutton > p{
    display: none;
}

.aboutStore{
    display: grid;
    grid-template-areas:
    'img'
    'title'
    'txt'
    'button'
    ;
    justify-items: center;
}

.aboutStore-itemL > img{
    grid-area: img;
    width: 70vw;
    height: 35vw;
    object-position: center 15%;
}

.aboutStore-itemR > h1{
    grid-area: title;
    font-size: 6vw;
}

.aboutStore-itemL > p{
    display: none;
}

.aboutStore-itemR > p{
    grid-area: txt;
    text-align: center;
    font-size: 2.5vw;
    width: 80vw;
}

.aboutStore-itemR > button{
    grid-area: button;
}

.aboutStore-itemR{
    align-items: center;
}

.garden-grid{
    grid-template-areas: 
    'titleG'
    'textG'
    'button'
    ;
    justify-content: center;
    justify-items: center;
}

.titleGarden > h1{
    text-align: center;
    font-size: 6vw;
    width: 32vw;
}

.textGarden{
    max-width: 300px;
}

.textGarden > p{
    text-align: center;
}

.garden-images{
    grid-template-columns: 1fr;
    gap: 20px;
}

.gardenBefore{
    margin-left: -35vw;
}
}

